@import './common';

@import './utils/media';
@import './utils/vars';
@import './utils/fonts';
@import './utils/normalize';
@import './utils/container';
@import './utils/base';
@import './utils/visual-hidden';
@import './utils/modal';
@import './utils/mobile-menu';

@import './components/header';
@import './components/hero';
@import './components/ad';
@import './components/yachts';
@import './components/gallery';
@import './components/form';
@import './components/customers';
@import './components/footer';
