.container {
  height: 100%;
  padding: 0 20px;
  outline: 1px solid red;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
