<section class="customers">
  <div class="container">
    <h1 class="customers__title">
      <span class="customers__title--color">Yacht Adventures</span> take pride
      in providing the best possible service and experience to our customers
    </h1>
    <p class="customers__subtitle">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it – read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="rewiew-list">
      <li class="rewiew-list__item">
        <img
          class="rewiew-list__image"
          src="./images/john-wax.png"
          alt="John Wax"
        />
        <div class="rewiew-list__name">John Wax</div>
        <div class="rewiew-list__comment">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </div>
      </li>
      <li class="rewiew-list__item">
        <img
          class="rewiew-list__image"
          src="./images/victoria-romashenko.png"
          alt="Victoria Romashenko"
        />
        <div class="rewiew-list__name">Victoria Romashenko</div>
        <div class="rewiew-list__comment">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </div>
      </li>
      <li class="rewiew-list__item">
        <img
          class="rewiew-list__image"
          src="./images/ihor-trachuk.png"
          alt="Ihor Trachuk"
        />
        <div class="rewiew-list__name">Ihor Trachuk</div>
        <div class="rewiew-list__comment">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!.
        </div>
      </li>
    </ul>
  </div>
</section>
