<footer class="footer">
  <div class="container footer-flex">
    <a class="footer-logo-link" href="./index.html">
      <img src="./images/yachts-logo.svg" alt="logo" />
      <span class="logo-text">YACHT ADVANTURES</span>
    </a>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">ABOUT</li>
        <li class="footer-nav-item">YACHTS</li>
        <li class="footer-nav-item">REVIEWS</li>
      </ul>
      <ul class="footer-media">
        <p class="footer-social-title">WE IN SOCIAL MEDIA</p>
        <div class="icon-holder">
          <li class="footer-media-item">
            <svg class="footer-icon">
              <use href="./images/sprite.svg#facebook-logo"></use>
            </svg>
          </li>
          <li class="footer-media-item">
            <svg class="footer-icon">
              <use href="./images/sprite.svg#instagram-logo"></use>
            </svg>
          </li>
          <li class="footer-media-item">
            <svg class="footer-icon">
              <use href="./images/sprite.svg#youtube-logo"></use>
            </svg>
          </li>
        </div>
      </ul>
    </nav>
    <div class="title-police-wrapper">
      <span class="footer-police police-year">2023. Yacht Adventures</span>
      <span class="footer-police police">Privacy Police</span>
    </div>
  </div>
</footer>
