<section class="form">
  <div class="container form--flex">
    <div class="form__info" data-aos="fade-right" data-aos-duration="700">
      <h2 class="form__title">Rent a yacht now</h2>
      <img
        class="form__img"
        src="./images/small-boat.png"
        srcset="./images/small-boat.png 1x, ./images/small-boat@2x.png 2x"
        alt="Small boat in the lake"
      />
    </div>
    <form class="form__form" data-aos="fade-left" data-aos-duration="700">
      <label class="form__label form__label-name">
        <span class="form__span">Full Name</span>
        <input
          class="form__input form__input-name"
          type="text"
          required
          minlength="6"
          maxlength="20"
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="User should has full name. Only on english language."
        />
      </label>
      <label class="form__label form__label-email">
        <span class="form__span">Email</span>
        <input
          class="form__input form__input-email"
          type="email"
          required
          minlength="4"
          maxlength="20"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          title="Your email wrote uncorrectly! Example:example@mail.com"
        />
      </label>
      <label class="form__label form__label-number">
        <span class="form__span">Phone number</span>
        <input
          class="form__input form__input-number"
          type="text"
          required
          minlength="13"
          maxlength="13"
          pattern="\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}"
          title="Your number wrote uncorrectly! Приклад:+380000000000"
        />
      </label>
      <label class="form__label form__label-comment">
        <span class="form__span">Comment</span>
        <input
          class="form__input form__input-comment"
          id="comment"
          type="text"
          maxlength="500"
        />
      </label>
      <button class="form__btn" type="submit" data-modal-open>
        Send
        <svg class="form__btn-svg">
          <use href="./images/sprite.svg#arrow"></use>
        </svg>
      </button>
    </form>
  </div>
</section>
