<section class="gallery">
  <div class="container">
    <ul class="gallery-list">
      <li class="gallery-list__item">
        <img src="#" alt="diving-img" class="gallery-list__img" />
        <button type="button" class="gallery-list__button">Diving</button>
      </li>
      <li class="gallery-list__item">
        <img src="#" alt="fishing-img" class="gallery-list__img" />
        <button type="button" class="gallery-list__button">Fishing</button>
      </li>
      <li class="gallery-list__item">
        <button type="button" class="gallery-list__button">Sunbathing</button>
      </li>
    </ul>
  </div>
</section>
