<section class="gallery">
  <div class="gallery__bg-img"></div>
  <div class="container gallery-flex">
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          src="./images/diving-mob.png"
          srcset="./images/diving-mob.png 1x, ./images/diving-mob@2x.png 2x"
          alt="divimg"
          class="gallery-item-img gallery-mob"
        />
        <img
          srcset="./images/diving.png 1x, ./images/diving@2x.png 2x"
          class="gallery-item-img-tab"
          src="./images/diving.png"
          alt="diving"
        />
        <div class="gallery-img-title diving">
          <p class="title-text">Diving</p>
        </div>
      </li>
      <li class="gallery-item">
        <img
          src="./images/fishing.png"
          srcset="./images/fishing.png 1x, ./images/fishing@2x.png 2x"
          alt="fishing"
          class="gallery-item-img fishing-img"
        />
        <img
          src="./images/fishing-desk.png"
          srcset="./images/fishing-desk.png 1x, ./images/fishing-desk@2x.png 2x"
          alt="fishing"
          class="gallery-item-img fishing-img-desk"
        />
        <div class="gallery-img-title fishing">
          <p class="title-text">Fishing</p>
        </div>
      </li>
      <li class="gallery-item">
        <img
          src="./images/umbrellas.png"
          srcset="./images/umbrellas.png 1x, ./images/umbrellas@2x.png 2x"
          alt=""
          class="gallery-item-img umbrellas"
        />
        <img
          src="./images/umbrellas-desk.png"
          srcset="
            ./images/umbrellas-desk.png    1x,
            ./images/umbrellas-desk@2x.png 2x
          "
          alt=""
          class="gallery-item-img umbrellas-desk"
        />
        <div class="gallery-img-title sunbathing">
          <p class="title-text">Sunbathing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
