    <div class="container header--container">
        <a href="#" class="logo">
            <!-- <svg class="logo__icon">
                <use href="" class="logo__icon--sprite">
                </use>
            </svg> -->
            <img class="logo__icon" src="./images/yachts-logo.svg" alt="logo">
            
           <span class="logo__title"> yacht adventures</span>
        </a>
        <nav class="header-nav">
            <ul class="header-nav__list">
              <li class="header-nav__item">
                <a class="header-nav__link" href="#">about</a>
              </li>
              <li class="header-nav__item">
                <a class="header-nav__link" href="#">yachts</a>
              </li>
              <li class="header-nav__item">
                <a class="header-nav__link" href="#">reviews</a>
              </li>
            </ul>
            </nav>
        <button aria-expanded="false" aria-controls="mobile-menu" class="menu-btn menu-toggle js-open-menu">
            <svg class="menu-btn__icon">
                <use href="./images/sprite.svg#menu" class="menu-btn__icon--sprite">
                </use>
            </svg>
        </button>

    </div>
