<section class="hero">
  <div class="container hero-flex">
    <div class="main-holder">
      <h1 class="hero-title">
        Explore the High Seas with<span class="hero-title-strong"
          >Our Luxury Yacht <span class="hero-title-part">Rentals</span></span
        >
      </h1>
      <p class="hero-text">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <button class="hero-btn-grey">Get Started</button>
      <button class="hero-btn-black">Explore</button>
    </div>
    <div class="hero-img">
      <img
        srcset="./images/hero-mask.png 1x, ./images/hero-mask@2x.png 2x"
        class="hero-mask"
        src="./images/hero-mask.png"
        alt="hero-mask"
      />
      <img
        srcset="./images/clients.png 1x, ./images/clients@2x.png 2x"
        class="hero-clients"
        src="./images/clients.png"
        alt="clients"
      />
      <p class="hero-clients-text">OUR CLIENTS</p>
      <img
        srcset="./images/old-man.png 1x, ./images/old-man@2x.png 2x"
        class="hero-man"
        src="./images/old-man.png"
        alt="old-ceo"
      />
      <img
        class="hero-man-tab hero-man-desk"
        srcset="
          ./images/old-man-tab-desk.png    1x,
          ./images/old-man-tab-desk@2x.png 2x
        "
        src="./images/old-man-tab-desk.png"
        alt="old-man-tab-desk"
      />
      <img
        srcset="./images/yaht.png 1x, ./images/yaht@2x.png 2x"
        class="hero-yacht"
        src="./images/yaht.png"
        alt="yacht"
      />
      <p class="hero-price">&#36;12M</p>
      <p class="hero-mask-text">
        Book now and make your dream yacht rental a reality
      </p>
      <!-- <img
        class="ellipse ellipse-mob"
        src="./images/ellipses/ellipse-hero-tiny.png"
        alt=""
      /> -->
    </div>
  </div>
</section>
