<div class="menu-container js-menu-container" id="mobile-menu">

    <div class=" header--container">
      <a href="#" class="logo">
        <!-- <svg class="logo__icon">
                  <use href="" class="logo__icon--sprite">
                  </use>
              </svg> -->
        <img class="logo__icon" src="./images/yachts-logo.svg" alt="logo" />
  
        <span class="logo__title"> yacht adventures</span>
      </a>
      <button class="menu-btn menu-toggle js-close-menu">
        <svg class="menu-close-btn__icon">
          <use
            href="./images/sprite.svg#close-btn"
            class="menu-btn__icon--sprite"
          ></use>
        </svg>
      </button>
    </div>
    <div class=" menu--container">
      <ul class="mobile-nav">
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">about</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">yachts</a>
        </li>
        <li class="mobile-nav__item">
          <a class="mobile-nav__link" href="#">reviews</a>
        </li>
      </ul>
      <div class="menu-background__green"></div>
      <div class="menu-background__gray"></div>
    </div>

  </div>