<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn" data-modal-close>
      <svg class="modal__btn-svg">
        <use class="modal__btn-use" href="./images/sprite.svg#close-btn"></use>
      </svg>
    </button>
    <img
      class="modal__img"
      src="./images/yaht.png"
      srcset="./images/yaht.png 1x, ./images/yaht@2x.png 2x"
      alt="Yaht"
    />
    <h2 class="modal__gratitude">Thank you</h2>
    <p class="modal__text">
      Thank you for choosing Yacht Adventures, your booking details have been
      received and our team will be in touch shortly to confirm your reservation
      and provide any additional information or assistance you may need.
    </p>
  </div>
</div>
