<section class="yachts">
  <div class="container yachts-flex">
    <ul class="yachts-list">
      <li data-aos="fade-up" class="yachts-list-item">
        <img
          srcset="./images/yaht-arrow.png 1x, ./images/yacht-arrow@2x.png 2x"
          src="./images/yaht-arrow.png"
          alt="arrow"
        />
        <div class="yachts-row yachts-main">
          <p class="yachts-title">ARROW</p>
          <p class="yachts-category">LUXURY YACHTS</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">LENGTH</p>
          <p class="yachts-size">48m(155ft)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILDER</p>
          <p class="yachts-builder admiral">Admiral</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILT</p>
          <p class="yachts-built">2021</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">GUESTS</p>
          <p class="yachts-guests">11 in 5 cabins</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">PRICE</p>
          <p class="yachts-price">&#8364;33,500,000</p>
        </div>
      </li>
      <li data-aos="fade-up" class="yachts-list-item">
        <img
          srcset="./images/yaht-benetti.png 1x, ./images/yaht-benetti@2x.png 2x"
          src="./images/yaht-benetti.png"
          alt="beretti"
        />
        <div class="yachts-row yachts-main">
          <p class="yachts-title">BENETTI OASIS 40M ...</p>
          <p class="yachts-category">LUXURY YACHTS</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">LENGTH</p>
          <p class="yachts-size">41m (133ft)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">SHIPYARD</p>
          <p class="yachts-builder">Benetti</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILT</p>
          <p class="yachts-built">2025</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">GUESTS</p>
          <p class="yachts-guests">10 in 5 cabins</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">PRICE</p>
          <p class="yachts-price">&#8364;23,210,000</p>
        </div>
      </li>
      <li data-aos="fade-up" class="yachts-list-item">
        <img
          srcset="
            ./images/yaht-belle-anna.png    1x,
            ./images/yaht-belle-anna@2x.png 2x
          "
          src="./images/yaht-belle-anna.png"
          alt="belle-anna"
        />
        <div class="yachts-row yachts-main">
          <p class="yachts-title">BELLE ANNA</p>
          <p class="yachts-category">LUXURY YACHTS</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">LENGTH</p>
          <p class="yachts-size">50m(155ft)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">SHIPYARD</p>
          <p class="yachts-builder">ISA</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILT</p>
          <p class="yachts-built">2012</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">GUESTS</p>
          <p class="yachts-guests">12 in 6 cabins</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">PRICE</p>
          <p class="yachts-price">&#8364;21,000,000</p>
        </div>
      </li>
      <li data-aos="fade-up" class="yachts-list-item">
        <img
          srcset="./images/yaht-ellen.png 1x, ./images/yaht-ellen@2x.png 2x"
          src="./images/yaht-ellen.png"
          alt="ellen"
        />
        <div class="yachts-row yachts-main">
          <p class="yachts-title">ELLEN</p>
          <p class="yachts-category">LUXURY YACHTS</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">LENGTH</p>
          <p class="yachts-size">40m (132ft)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">SHIPYARD</p>
          <p class="yachts-builder">Perini Navi</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILT</p>
          <p class="yachts-built">2001 / 2016 (refitted)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">GUESTS</p>
          <p class="yachts-guests">9 in 4 cabins</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">PRICE</p>
          <p class="yachts-price">&#8364;9,300,000</p>
        </div>
      </li>
      <li data-aos="fade-up" class="yachts-list-item">
        <img
          srcset="./images/yaht-mirage.png 1x, ./images/yaht-mirage@2x.png 2x"
          src="./images/yaht-mirage.png"
          alt="mirage"
        />
        <div class="yachts-row yachts-main">
          <p class="yachts-title">MIRAGE 401</p>
          <p class="yachts-category">LUXURY YACHTS</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">LENGTH</p>
          <p class="yachts-size">38m (125ft)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">SHIPYARD</p>
          <p class="yachts-builder">Gianetti Custom Yachts</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILT</p>
          <p class="yachts-built">2024</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">GUESTS</p>
          <p class="yachts-guests">10 in 5 cabins</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">PRICE</p>
          <p class="yachts-price">&#8364;13,500,000</p>
        </div>
      </li>
      <li data-aos="fade-up" class="yachts-list-item">
        <img
          srcset="./images/yaht-king.png 1x, ./images/yaht-king@2x.png 2x"
          src="./images/yaht-king.png"
          alt="king"
        />
        <div class="yachts-row yachts-main">
          <p class="yachts-title">KING</p>
          <p class="yachts-category">LUXURY YACHTS</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">LENGTH</p>
          <p class="yachts-size">33m (109ft)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">SHIPYARD</p>
          <p class="yachts-builder">Overmarine</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILT</p>
          <p class="yachts-built">2004 / 2018 (refitted)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">GUESTS</p>
          <p class="yachts-guests">9 in 4 cabins</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">PRICE</p>
          <p class="yachts-price">&#8364;1,850,000</p>
        </div>
      </li>
      <li data-aos="fade-up" class="yachts-list-item">
        <img
          srcset="./images/yaht-salt.png 1x, ./images/yaht-salt@2x.png 2x"
          src="./images/yaht-salt.png"
          alt="salt"
        />
        <div class="yachts-row yachts-main">
          <p class="yachts-title">SALT</p>
          <p class="yachts-category">LUXURY YACHTS</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">LENGTH</p>
          <p class="yachts-size">32m (105ft)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILDER</p>
          <p class="yachts-builder sanlorenzo">SanLorenzo</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILT</p>
          <p class="yachts-built">2019</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">GUESTS</p>
          <p class="yachts-guests">11 in 5 cabins</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">PRICE</p>
          <p class="yachts-price">&#8364;7,800,000</p>
        </div>
      </li>
      <li data-aos="fade-up" class="yachts-list-item">
        <img
          srcset="./images/yaht-storm.png 1x, ./images/yaht-storm@2x.png 2x"
          src="./images/yaht-storm.png"
          alt="storm"
        />
        <div class="yachts-row yachts-main">
          <p class="yachts-title">STORM</p>
          <p class="yachts-category">LUXURY YACHTS</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">LENGTH</p>
          <p class="yachts-size">32m (103ft)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">SHIPYARD</p>
          <p class="yachts-builder">Overmarine</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILT</p>
          <p class="yachts-built">2005 / 2022 (refitted)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">GUESTS</p>
          <p class="yachts-guests">9 in 4 cabins</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">PRICE</p>
          <p class="yachts-price">&#8364;2,900,000</p>
        </div>
      </li>
      <li data-aos="fade-up" class="yachts-list-item">
        <img
          srcset="./images/yaht-collu.png 1x, ./images/yaht-collu@2x.png 2x"
          src="./images/yaht-collu.png"
          alt="collu"
        />
        <div class="yachts-row yachts-main">
          <p class="yachts-title">COLLU</p>
          <p class="yachts-category">LUXURY YACHTS</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">LENGTH</p>
          <p class="yachts-size">29m (96ft)</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">SHIPYARD</p>
          <p class="yachts-builder">Ferretti</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">BUILT</p>
          <p class="yachts-built">2014</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">GUESTS</p>
          <p class="yachts-guests">10 in 5 cabins</p>
        </div>
        <div class="yachts-row">
          <p class="yachts-title">PRICE</p>
          <p class="yachts-price">&#8364;4,300,000</p>
        </div>
      </li>
    </ul>
  </div>
</section>
