.form {
  background-image: url(../images/ellipses/ellipse-form.png);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 80px 270px;

  margin: 0 auto;
  padding: 100px 20px 0;

  width: $mobile;
  // height: 676px;
  height: 774px;

  background-color: $brown;

  @media screen and (min-width: 768px) {
    background-image: url(../images/ellipses/ellipse-form.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 420px -70px;

    width: 768px;
    height: 451px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0 32px 0;
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/ellipses/ellipse-form.png);
    background-repeat: no-repeat;
    background-position: 890px -50px;
    background-size: 750px;

    width: 1280px;
    height: 551px;
  }

  &--flex {
    outline: none;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &__info {
    margin-right: 69px;

    @media screen and (min-width: $desktop) {
      margin-left: auto;
      margin-right: 188px;
    }
  }

  &__title {
    width: 271px;
    height: 40px;

    font-size: 36px;
    font-weight: 500;
    line-height: 110%;

    margin-bottom: 16px;

    animation: pulse;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;

    @media screen and (min-width: $tablet) {
      font-size: 60px;

      margin-bottom: 32px;

      width: 287px;
      height: 132px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 60px;
      margin-bottom: 64px;
    }
  }

  &__img {
    width: 259px;
    height: 187px;
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      width: 271px;
      height: 187px;

      margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
      width: 282px;
      height: 191px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $tablet) {
      width: 364px;
      // height: 346px;

      // display: inline-block;
    }

    @media screen and (min-width: $desktop) {
      margin-right: auto;
    }

    @media screen and (min-width: $desktop) {
      width: 443px;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    // margin-bottom: 24px;

    // &:is(:hover, :focus) .form__span {
    //   animation: lightSpeedInRight;
    //   // animation-duration: 1.5s;
    //   // animation-iteration-count: infinite;
    // }
  }

  &__label-comment {
    @media screen and (min-width: $tablet) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 60px;
    }
  }

  &__span {
    font-weight: 500;
    line-height: 120%;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
    }
  }

  &__input {
    height: 16px;

    color: $main-color;

    background: transparent;

    border: none;
    border-bottom: 1px solid $main-color;

    &-comment {
      height: 58px;

      resize: vertical;

      outline: none;
    }
  }

  &__btn {
    width: 123px;
    height: 43px;

    box-sizing: border-box;
    border: 1px solid rgb(246, 245, 239);
    border-radius: 60px;

    background: transparent;

    color: rgb(246, 245, 239);
    font-weight: 700;
    line-height: 110%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 28px;

    &:is(:hover, :focus) {
      animation: pulse;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
    }

    @media screen and (min-width: $tablet) {
      width: 132px;
      height: 48px;
    }
  }

  &__btn-svg {
    width: 19px;
    height: 28px;

    transform: rotate(90deg);

    margin-left: 16px;
  }
}
