.gallery-flex {
  display: flex;
}
.Diving {
  border-radius: 60px;
  background: rgb(246, 245, 239);
  position: absolute;
  width: 106px;
  height: 48px;
}
.diving-text {
  color: rgb(17, 19, 31);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
}
.Fishing {
  border-radius: 60px;
  background: rgb(246, 245, 239);
  position: absolute;
  width: 106px;
  height: 48px;
}
.fishing-text {
  color: rgb(17, 19, 31);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
}
.Sunbating {
  border-radius: 60px;
  background: rgb(246, 245, 239);
  position: absolute;
  width: 106px;
  height: 48px;
}
.sunbathing-text {
  color: rgb(17, 19, 31);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
}
