.gallery {
  background-color: rgb(17, 19, 31);
}
.gallery-list__button {
  border-radius: 60px;
  background: rgb(246, 245, 239);
  width: 106px;
  height: 48px;
  color: rgb(17, 19, 31);
  font-size: 18px;
  font-weight: 700;
  line-height: 110%;
}
